dokeos/application/lib/search_portal/soap/learningobjectsearch.template.wsdl

<?xml version="1.0" encoding="iso-8859-1"?>
<definitions name="LearningObjectSearch"
targetNamespace="urn:LearningObjectSearch"
xmlns:tns="urn:LearningObjectSearch"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:LearningObjectSearch">
			<xsd:complexType name="RemoteLearningObject">
				<xsd:all>
					<xsd:element name="Type" type="xsd:string" />
					<xsd:element name="Title" type="xsd:string" />
					<xsd:element name="Description" type="xsd:string" />
					<xsd:element name="Created" type="xsd:dateTime" />
					<xsd:element name="Modified" type="xsd:dateTime" />
					<xsd:element name="URL" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="RemoteLearningObjects">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:RemoteLearningObject[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</types> 
	
	<message name="getQuery">
		<part name="Query" type="xsd:string"/>
	</message>
	<message name="getResults">
		<part name="Results" type="tns:RemoteLearningObjects"/>
		<part name="LimitReached" type="xsd:boolean"/>
	</message>
	
	<portType name="LearningObjectSearchPort">
		<operation name="search">
			<input message="tns:getQuery"/>
			<output message="tns:getResults"/>
		</operation>
	</portType>

	<binding name="LearningObjectSearchBinding" type="tns:LearningObjectSearchPort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="search">
			<soap:operation soapAction="urn:LearningObjectSearchAction"/>
			<input>
				<soap:body use="encoded" namespace="urn:LearningObjectSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="urn:LearningObjectSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	
	<service name="LearningObjectSearchService">
		<port name="LearningObjectSearchPort" binding="LearningObjectSearchBinding">
			<soap:address location="%url%/soap_server.php"/>
		</port>
	</service>
</definitions>